# /etc/systemd/system/grafana.service
[Unit]
Description=Grafana Server
Documentation=http://docs.grafana.org/guides/getting_started/
After=network-online.target

[Service]
User=root
Group=root
#WorkingDirectory=
ExecStart=/opt/grafana/bin/grafana-server

[Install]
WantedBy=multi-user.target
